//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	align-items: center;

	background-color: var(--accent);
	color: var(--white);
	font-family: "Clash Display", system-ui, sans-serif;

	transition:
		background-color 0.35s ease 0s,
		color 0.3s ease-in 0s,
		border-color 0.3s ease-in 0s;

	@media (any-hover: hover) {
		&:hover {
			color: var(--accent-sec);
			background-color: transparent;
			border-color: var(--accent-sec);
		}
	}

	&--basic {
		min-height: toRem(48);
		padding: toRem(11) toRem(33);

		border: 1px solid transparent;
		border-radius: 12.58px;
		font-size: toRem(21);
		font-weight: 500;
		line-height: 123.809524%; /* 26/21 */
	}

	&--fw {
		width: 100%;
	}
}
