@font-face {
	font-family: ClashDisplay;
	font-display: swap;
	src: url("../fonts/ClashDisplay-Medium.woff2") format("woff2"), url("../fonts/ClashDisplay-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: DMSans;
	font-display: swap;
	src: url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: DMSans;
	font-display: swap;
	src: url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Million Orcids;
	font-display: swap;
	src: url("../fonts/Million Orcids.woff2") format("woff2"), url("../fonts/Million Orcids.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Nunito;
	font-display: swap;
	src: url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Garet;
	font-display: swap;
	src: url("../fonts/Garet-Book.woff2") format("woff2"), url("../fonts/Garet-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: NunitoSans_10pt;
	font-display: swap;
	src: url("../fonts/NunitoSans_10pt-Bold.woff2") format("woff2"), url("../fonts/NunitoSans_10pt-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Nunito;
	font-display: swap;
	src: url("../fonts/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: RedHatDisplay;
	font-display: swap;
	src: url("../fonts/RedHatDisplay-Bold.woff2") format("woff2"), url("../fonts/RedHatDisplay-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: RedHatDisplay;
	font-display: swap;
	src: url("../fonts/RedHatDisplay-Light.woff2") format("woff2"), url("../fonts/RedHatDisplay-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: RedHatDisplay;
	font-display: swap;
	src: url("../fonts/RedHatDisplay-Medium.woff2") format("woff2"), url("../fonts/RedHatDisplay-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: RedHatDisplay;
	font-display: swap;
	src: url("../fonts/RedHatDisplay-Regular.woff2") format("woff2"), url("../fonts/RedHatDisplay-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Sora;
	font-display: swap;
	src: url("../fonts/Sora-SemiBold.woff2") format("woff2"), url("../fonts/Sora-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
