// ===== HERO - SECTION =================

.hero {
	padding-top: toRem(138);

	background-image: url("@img/hero/bg@1x.jpeg");
	@media (min-resolution: 2dppx) {
		background-image: url("@img/hero/bg@2x.jpeg");
	}
	background-position: center center; /* x y */
	background-size: cover;
	background-repeat: no-repeat;

	@media (min-width: $mobile) {
		padding-top: toRem(110);
	}

	// .hero__container
	&__container {
		@include adaptiveValue("padding-bottom", 100, 20, 2, 1200, 768);

		@media (min-width: $mobile) {
			display: flex;
			justify-content: space-between;
			gap: toRem(50);
		}
	}

	// .hero__content
	&__content {
		color: var(--white);
		text-align: center;
		overflow: hidden;

		margin-left: toRem(25);
		@include adaptiveValue("margin-top", 167, 0, 0, 1200, 768);
		@include adaptiveValue("margin-left", 85, 25, 2, 1440, 1200);

		@media (min-width: $mobile) {
			text-align: left;
			overflow: visible;
		}
	}

	// .hero__title
	&__title {
		font-family: "Million Orcids", system-ui, sans-serif;
		@include adaptiveValue("font-size", 100, 60, 0, 1200, 768);
		line-height: 102%; /* 64/60 */
		letter-spacing: 0.02em;

		@media (min-width: $mobile) {
			margin-bottom: toRem(17);
		}

		& span {
			display: block;

			font-family: "RedHatDisplay", system-ui, sans-serif;
			@include adaptiveValue("font-size", 45, 30, 0, 1200, 768);
			font-weight: 500;
			letter-spacing: 0.022em;

			@media (min-width: $mobile) {
				line-height: 142.222222%; /* 64/45 */
			}
		}
	}

	// .hero__subtitle
	&__subtitle {
		max-width: toRem(370);
		margin: toRem(0) auto toRem(34) auto;

		font-family: "GaretBook", system-ui, sans-serif;
		@include adaptiveValue("font-size", 33, 20, 0, 1200, 768);
		font-weight: 300;
		line-height: 150%; /* 30/20 */
		letter-spacing: 0.07em;

		@media (min-width: $mobile) {
			max-width: toRem(610);
			margin: toRem(0) toRem(0) toRem(41) toRem(0);

			line-height: 121.212121%; /* 40/33 */
		}
	}

	// .hero__btn
	&__btn {
		@include adaptiveValue("min-height", 73, 48, 0, 1200, 768);
		margin-bottom: toRem(14.6);
		@include adaptiveValue("padding-right", 50, 33, 0, 1200, 768);
		@include adaptiveValue("padding-left", 50, 33, 0, 1200, 768);

		@include adaptiveValue("border-radius", 17, 11, 0, 1200, 768);
		@include adaptiveValue("font-size", 32, 21, 0, 1200, 768);
		font-weight: 500;
		line-height: 122.757318%; /* 26/21.18 */
		letter-spacing: -0.01em;

		@media (any-hover: hover) {
			&:hover {
				color: var(--white);
				background-color: var(--accent-sec);
			}
		}
	}

	// .hero__image
	&__image {
		aspect-ratio: 500 / 549;
		@include adaptiveValue("height", 480, 533, 3, 767, 430);

		@media (min-width: em(499.98)) {
			width: 100%;
		}

		@media (min-width: $mobile) {
			flex: 0 1 45.245171%; /* 609/1346 */
		}

		& img {
			width: 116.27907%; /* 500/430 */
			height: 103.001876%; /* 549/533 */
			left: toRem(-110);

			@media (min-width: em(499.98)) {
				width: 100%;
				left: 50%;
				transform: translate(-50%, 0);
			}

			@media (min-width: $mobile) {
				width: 118%;
				height: auto;
				transform: translate(-58%, 0);
			}
		}
	}
}

// ===== DESCRIPTION - SECTION ==========

.description {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		@include adaptiveValue("top", -78, 0, 0, 1100, 768);
		left: 0;

		aspect-ratio: 168 / 269;
		@include adaptiveValue("width", 303, 168, 0, 991, 768);

		background-image: url("@img/description/decor@1x.png");
		@media (min-resolution: 2dppx) {
			background-image: url("@img/description/decor@2x.png");
		}
		background-position: center center; /* x y */
		background-size: contain;
		background-repeat: no-repeat;
	}

	// .description__container
	&__container {
		position: relative;
	}

	// .description__wrapper
	&__wrapper {
		@include adaptiveValue("grid-column-gap", 98, 50, 0, 1200, 992);

		padding: toRem(0) toRem(13);

		@media (min-width: $mobile) {
			display: grid;
			grid-template: 1fr auto / auto 1fr;
		}
	}

	// .description__title
	&__title {
		margin-bottom: toRem(47);

		text-align: center;

		color: #040404;
		@include adaptiveValue("font-size", 45, 30, 2, 1200, 768);

		@media (min-width: $mobile) {
			grid-column: 1 / -1;

			line-height: 124.444444%; /* 56/45 */
		}
	}

	// .description__image
	&__image {
		display: none;

		@include adaptiveValue("margin-left", 77, 0, 0, 1440, 1200);

		@media (min-width: $mobile) {
			display: block;

			align-self: center;

			aspect-ratio: 324 / 631;

			@include adaptiveValue("width", 324, 150, 0, 991, 768);
		}

		@media (min-width: $tablet) {
			align-self: start;
		}
	}

	// .description__content
	&__content {
		color: var(--black);

		@media (min-width: $tablet) {
			margin-top: toRem(38);
		}

		& ul {
			margin-bottom: toRem(20);

			@media (min-width: $mobile) {
				max-width: toRem(710);
				margin-bottom: toRem(33);
			}
		}

		& li {
			display: flex;
			gap: toRem(10);
			align-items: first baseline;

			@include adaptiveValue("font-size", 20, 18, 0, 1200, 768);
			font-weight: 300;
			line-height: 193.511668%; /* 34/17.57 */

			@media (min-width: $mobile) {
				gap: toRem(12);

				line-height: 195%; /* 39/20 */
			}

			& strong {
				font-size: toRem(19);

				@media (min-width: $mobile) {
					font-size: toRem(22);
				}
			}

			&::before {
				content: "";
				flex-grow: 0;
				flex-shrink: 0;
				@include adaptiveValue("flex-basis", 9, 8, 0, 1200, 768);
				@include adaptiveValue("height", 9, 8, 0, 1200, 768);

				border-radius: 50%;
				background-color: var(--primary);

				transform: translate(0, toRem(-2));
			}
		}
	}

	// .description__qoutes
	&__quotes {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		@include adaptiveValue("min-height", 57, 43, 0, 1200, 768);
		padding: toRem(5) toRem(20);

		color: var(--white);
		border-radius: toRem(9);
		font-family: "Nunito Sans", system-ui, sans-serif;
		@include adaptiveValue("font-size", 19, 14, 0, 1200, 768);
		font-weight: 700;
		line-height: 140.785714%; /* 19.71/14 */
		letter-spacing: 0.03em;

		@media (min-width: $mobile) {
			display: inline-flex;

			border-radius: toRem(12);
		}

		// .description__quotes_bl
		&_bl {
			margin-bottom: toRem(27);

			background-color: var(--accent-50);

			@media (min-width: $mobile) {
				margin-bottom: toRem(40);
				padding: toRem(5) toRem(64);
			}
		}

		// .description__quotes_r
		&_r {
			margin: toRem(17) toRem(0) toRem(36);

			background-color: var(--accent-sec-50);

			@media (min-width: $mobile) {
				margin: toRem(15) toRem(0) toRem(40);
				padding: toRem(5) toRem(28);
			}
		}
	}

	// .description__parag
	&__parag {
		@include adaptiveValue("font-size", 20, 17, 0, 1200, 768);
		line-height: 135.294118%; /* 23/17 */

		@media (min-width: $mobile) {
			max-width: toRem(620);
		}
	}
}

// ===== CTA - SECTION ==================

.cta {
	// .cta__container
	&__container {
	}

	// .cta__wrapper
	&__wrapper {
		display: grid;
		grid-row-gap: toRem(39);
		justify-items: center;
		text-align: center;

		margin: toRem(0) toRem(13);
		padding: toRem(27) toRem(29) toRem(36);

		background-color: var(--neutral-grey-3-42);
		border-radius: toRem(30);

		@media (min-width: $mobile) {
			grid-template-columns: auto 1fr;
			@include adaptiveValue("grid-column-gap", 53, 30, 0, 991, 768);
			justify-items: start;
			text-align: left;

			@include adaptiveValue("margin-right", 66, 0, 0, 1440, 992);
			@include adaptiveValue("margin-left", 66, 0, 0, 1440, 992);
			padding-top: toRem(31);
			padding-bottom: toRem(36);
			@include adaptiveValue("padding-right", 79, 40, 2, 991, 768);
			@include adaptiveValue("padding-left", 91, 40, 2, 991, 768);
		}
	}

	// .cta__image
	&__image {
		aspect-ratio: 94 / 94;
		@include adaptiveValue("width", 163, 94, 0, 1200, 768);

		background-image: url("@img/logo-sm.svg");
		background-position: center center; /* x y */
		background-size: contain;
		background-repeat: no-repeat;
	}

	// .cta__content
	&__content {
	}

	// .cta__title
	&__title {
		margin-bottom: toRem(15);
		padding: toRem(0) toRem(20);

		@include adaptiveValue("font-size", 30, 20, 0, 1200, 768);
		font-weight: 500;
		line-height: 125%; /* 25/20 */

		@media (min-width: $mobile) {
			margin-bottom: toRem(2);
			padding: 0;

			line-height: 133.333333%; /* 40/30 */
		}
	}

	// .cta__txt
	&__txt {
		margin-bottom: toRem(30);

		@include adaptiveValue("font-size", 20, 17, 0, 1200, 768);
		line-height: 129.411765%; /* 22/17 */

		@media (min-width: $mobile) {
			margin-bottom: toRem(28);

			font-weight: 300;
		}
	}

	// .cta__btn
	&__btn {
	}
}

// ===== CTA - ADVANTAGES ================

.advantages {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		@include adaptiveValue("top", -380, -293, 0, 1440, 992);
		right: 0;

		aspect-ratio: 290 / 305;
		@include adaptiveValue("width", 502, 290, 0, 1440, 768);

		background-image: url("@img/advantages/decor@1x.png");
		@media (min-resolution: 2dppx) {
			background-image: url("@img/advantages/decor@2x.png");
		}
		background-position: center center; /* x y */
		background-size: contain;
		background-repeat: no-repeat;
	}

	// .advantages__container
	&__container {
	}

	// .advantages__wrapper
	&__wrapper {
		@include adaptiveValue("padding-right", 50, 15, 0, 1440, 992);
		@include adaptiveValue("padding-left", 50, 15, 0, 1440, 992);
	}

	// .advantages__title
	&__title {
		margin-bottom: toRem(32);

		text-align: center;

		line-height: 186.666667%;

		@media (min-width: $mobile) {
			margin-bottom: toRem(49);
		}

		& h2 {
			margin-bottom: toRem(15);
		}
	}

	// .advantages__list
	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: toRem(27);
		grid-row-gap: toRem(24);
		grid-auto-rows: 1fr;

		@media (min-width: $mobile) {
			grid-template-columns: repeat(4, 1fr);
			grid-column-gap: toRem(15);
			@include adaptiveValue("grid-column-gap", 45, 15, 2, 1440, 992);
		}
	}

	// .advantages__item
	&__item {
		display: flex;
		flex-direction: column;
		gap: toRem(27);
		@include adaptiveValue("gap", 44, 27, 0, 1200, 768);
		align-items: center;
		text-align: center;

		@include adaptiveValue("padding-top", 46, 28, 0, 1200, 768);
		@include adaptiveValue("padding-right", 25, 12, 0, 1200, 768);
		@include adaptiveValue("padding-left", 25, 12, 0, 1200, 768);
		@include adaptiveValue("padding-bottom", 28, 17, 0, 1200, 768);

		background-color: transparent;
		border: 1px solid var(--neutral-grey-1);
		border-radius: toRem(15);

		transition:
			background-color 0.3s ease 0s,
			border-color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(183, 17, 178, 0.15);
				border-color: transparent;

				& .advantages__icon {
					transform: scale(1.1);
				}
			}
		}
	}

	// .advantages__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		aspect-ratio: 1 / 1;
		@include adaptiveValue("width", 127, 78, 0, 1200, 768);

		background-color: var(--accent-50);
		border-radius: 50%;

		transform: scale(1);
		transition: transform 0.3s ease 0s;

		.advantages__item:nth-child(2n) & {
			background-color: var(--accent-sec-50);
		}

		& img {
			@include adaptiveValue("width", 72, 44, 0, 1200, 768);
		}
	}

	// .advantages__txt
	&__txt {
		@include adaptiveValue("font-size", 23, 14, 0, 1200, 768);
		line-height: 135.714286%; /* 19/14 */
	}
}

// ===== CTA - GUIDING ===================

.guiding {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		bottom: toRem(-72);
		right: toRem(-5);

		aspect-ratio: 257 / 395;
		@include adaptiveValue("width", 394, 257, 0, 1200, 768);

		background-image: url("@img/guiding/decor@1x.png");
		@media (min-resolution: 2dppx) {
			background-image: url("@img/guiding/decor@2x.png");
		}
		background-position: center center; /* x y */
		background-size: contain;
		background-repeat: no-repeat;

		@media (min-width: $mobile) {
			bottom: toRem(-146);
		}
	}

	// .guiding__container
	&__container {
	}

	// .guiding__wrapper
	&__wrapper {
		padding: toRem(0) toRem(23);

		@media (min-width: $mobile) {
			display: grid;
			grid-template: 1fr auto / 1fr auto;
			@include adaptiveValue("grid-column-gap", 80, 0, 0, 1440, 992);
		}

		@media (min-width: $tablet) {
			padding: toRem(0) toRem(81);
		}
	}

	// .guiding__title
	&__title {
		margin-bottom: toRem(33);
		text-align: center;

		@media (min-width: $mobile) {
			grid-column: 1 / -1;

			margin-bottom: toRem(19);
		}

		& h2 {
			margin-bottom: toRem(26);

			@media (min-width: $mobile) {
				margin-bottom: toRem(20);
			}
		}

		& p {
			max-width: toRem(330);

			@media (min-width: $mobile) {
				max-width: none;
			}
		}
	}

	// .guiding__subtitle
	&__subtitle {
		margin: toRem(0) auto;
	}

	// .guiding__list
	&__list {
		margin-top: toRem(0);

		@media (min-width: $mobile) {
			margin-top: toRem(35);
			@include adaptiveValue("margin-top", 81, 35, 2, 1200, 992);
		}
	}

	// .guiding__list-item
	&__list-item {
		display: flex;
		@include adaptiveValue("gap", 16, 14, 0, 1200, 768);
		align-items: first baseline;

		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 15, 13, 0, 1200, 768);
		}

		@include adaptiveValue("font-size", 22, 18, 0, 1200, 768);
		line-height: 138.888889%; /* 25/18 */

		&::before {
			content: "";

			flex-grow: 0;
			flex-shrink: 0;
			@include adaptiveValue("flex-basis", 11, 9, 0, 1200, 768);
			@include adaptiveValue("height", 11, 9, 0, 1200, 768);
			background-color: var(--primary);
			border-radius: 50%;

			transform: translate(0, toRem(-2));
		}
	}

	// .guiding__image
	&__image {
		aspect-ratio: 328 / 612;
		width: toRem(328);

		@media (min-width: em(500)) {
			margin: 0 auto;
		}

		@media (min-width: $mobile) {
			align-self: center;

			width: toRem(250);
			@include adaptiveValue("width", 400, 328, 2, 1440, 992);
			margin: 0;
		}

		& img {
			transform: translate(toRem(7), toRem(-11));

			@media (min-width: em(400)) {
				transform: translate(8, 0);
			}
		}
	}
}

// ===== CTA - DESIGN-ADV ================

.design-adv {
	// .design-adv__title
	&__title {
	}

	// .design-adv__container
	&__container {
	}

	// .design-adv__content
	&__content {
	}

	// .design-adv__slider
	&__slider {
	}
}

.slider {
	// .slider__wrapper
	&__wrapper {
	}

	// .slider__slide
	&__slide {
	}

	// .slider__image
	&__image {
	}

	// .slider__title
	&__title {
	}

	// .slider__txt
	&__txt {
	}
}
